# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output